{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block content %}
<h1>Articles</h1>

{% for article in articles %}
	{% include '_article.html.twig' with {'article': article, 'forAdmin': true} %}
{% endfor %}

<a class="btn btn-primary" href="{{ path('admin_article_new') }}">Créer un nouvel article</a>
{% endblock %}

