{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block content %}
	<h3>
		Mes derniers articles</h3>
	<button class="btn btn-outline-info" onclick="">Ajouter un article</button>
	<ul>
		<input type="checkbox" id="scales" name="scales" checked>
		<label for="scales">Article 1</label>
		<input type="checkbox" id="scales" name="scales" checked>
		<label for="scales">Article 2</label>
		<input type="checkbox" id="scales" name="scales" checked>
		<label for="scales">Article 3</label>
		<input type="checkbox" id="scales" name="scales" checked>
		<label for="scales">Article 4</label>
	</ul>
	{# <ul>
							{% for article in articles %}
								<li>{{article.title}}</li>
								<li>{{article.user}}</li>
								<li>{{article.publicationDate}}</li>
								<li>Catégorie ?</li>
					
							{% endfor %}
						</ul> #}
{% endblock %}
