{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block content %}
	<h1>Accueil</h1>
	{% for article in articles %}
		{% include '_article_small.html.twig' with {'article': article, 'forAdmin': true} %}
	{% endfor %}
{% endblock %}
