{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div style="display:flex;">

			<div style="flex-direction: column">
				<h4>Menu</h4>
				<div>
					<a class="btn btn-info" href="{{ path('admin_home') }}">Accueil</a>
					{# <a href="/article/home">Accueil</a> #}
				</div>
				<div>

					<a class="btn btn-info" href="{{ path('admin_articles') }}">Articles</a>
					{# <a href="/article/articles">Article</a> #}

				</div>
				<div>
					<a class="btn btn-info" href="{{ path('admin_articlesComments') }}">Gestion des commentaires</a>
					{# <a href="/article/articleComments">Gestion des commentaires</a> #}
				</div>
			</div>

			<div>
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
