{% extends 'user_dashboard/templateUser.html.twig' %}

{% block title %}Articles commentés
{% endblock %}

{% block content %}
<h1>Articles commentés</h1>

{% for article in articles %}
    <div class="mb-3">
        {% include '_article_small.html.twig' with {'article': article} %}
    </div>
{% endfor %}

 <div class="home-pagination">
	{{ knp_pagination_render(comments) }}
</div>

{% endblock %}
