{% extends 'user_dashboard/templateUser.html.twig' %}

{% block title %}Articles partagés
{% endblock %}

{% block content %}
<h1>Articles partagés</h1>

{% for share in shared %}
    {# {% include '_article.html.twig' with {'article': bookmark.article, 'forAdmin': true} %} #}
    <div class="mb-3">
        {% include '_article_small.html.twig' with {'article': share.article, 'sharedDate': share.creationDate} %}
    </div>
{% endfor %}

<div class="home-pagination">
	{{ knp_pagination_render(sharedToLoad) }}
</div>

{% endblock %}
