{% extends 'base.html.twig' %}

{% block title %}À propos!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container pt-5">
    <h1>À propos</h1>
    <div class="row mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet enim eget nulla volutpat vestibulum. Pellentesque vitae tempor mauris. gilla nec. Cras at tortor est. Aenean quam mi, varius non urna quis, ultricies facilisis velit.

        Donec euismod arcu non mi tincidunt laoreet. Donec eu nibh quis dolor vestibulum mollis. Integer in mollis tellus.</br> </br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis id luctus massa, id tincidunt risus. Mauris pharetra semper nisl id auctor. Pellentesque in est vulputate, fermentum mauris et, cursus purus. Nulla tincidunt volutpat orci, a hendrerit eros varius et. Aenean elit tellus, venenatis id eleifend vel, consequat id ipsum.

        Suspendisse potenti. </br> </br>Nam mollis ac elit quis hendrerit. Maecenas vitae viverra eros. Nunc lobortis, risus finibus blandit ornare, erat nisl dictum erat, consectetur ornare urna dolor ut leo. Curabitur elementum, mi vitae semper ullamcorper, ante nisi sodales ligula, nec blandit tellus sem quis ex. Nullam eu porta metus. Sed at justo justo. Sed nunc lorem, ultrices non diam in, imperdiet tincidunt turpis.

    </div>
    <div class="row mt-5 mb-5 mr-auto ml-auto">
        <img src="{{ asset('img/jul.jpg') }}" alt="Jul content" class="m-auto">
    </div>
</div>
{% endblock %}
