<div class="articleRecent-container">
    <div>
        <div>
            <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
        </div>
        <div>
            <h2 class="article-subtitle">jean</h2>
            <div class="">
                jean bon
            </div>
        </div>
    </div>
    <div>
        <div>
            <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
        </div>
        <div>
            <h2 class="article-subtitle">jean</h2>
            <div class="">
                jean bon
            </div>
        </div>
    </div>

    <div>
        <div>
            <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
        </div>
        <div>
            <h2 class="article-subtitle">jean</h2>
            <div class="">
                jean bon
            </div>
        </div>
    </div>

    <div>
        <div>
            <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
        </div>
        <div>
            <h2 class="article-subtitle">jean</h2>
            <div class="">
                jean bon
            </div>
        </div>
    </div>
</div>