<div class="articleRecent-container">

    <div class="articleRecent-header">
        <div>
            <span class="h2">Articles récents</span>
        </div>
        <div>
            <button class="btn btn-link btn-link--white">Voir tout</button>
        </div>
    </div>

    <div class="articleRecent_articles">
        <div>
            <div>
                <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
            </div>
            <div class="articleRecent_articles-text">
                <h2 class="article-subtitle">jean</h2>
                <div class="">
                    jean bon
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
            </div>
            <div>
                <h2 class="article-subtitle">jean</h2>
                <div class="">
                    jean bon
                </div>
            </div>
        </div>

        <div>
            <div>
                <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
            </div>
            <div>
                <h2 class="article-subtitle">jean</h2>
                <div class="">
                    jean bon
                </div>
            </div>
        </div>

        <div>
            <div>
                <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
            </div>
            <div>
                <h2 class="article-subtitle">jean</h2>
                <div class="">
                    jean bon
                </div>
            </div>
        </div>
    </div>
</div>