<div class="article-commentaire">
        <div class="article-commentaire_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fuga id sapiente beatae architecto laborum voluptatem similique, magni repellat nihil illum ipsum aperiam quo modi necessitatibus, nobis consequatur repellendus placeat?
        </div>
        <div class="article-commentaire_info">
            <div class="text-muted">
                Nom
            </div>
            <div class="text-muted">
                email
            </div>
            <div class="text-muted">
                date
            </div>
        </div>
    </div>