{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<form action="{{ path('search') }}" method="post">
		<input type="text" name="search">
		<button class="btn btn-secondary">Rechercher</button>
	</form>
	<form action="{{ path('filter') }}">
		<select name="filter" id="filter">
			<option value="news">Récent -> Ancien</option>
			<option value="old">Ancien -> Récent</option>
			<option value="a-z">A-Z</option>
			<option value="z-a">Z-A</option>
		</select>
		<button class="btn btn-primary">Filtrer</button>
	</form>

	{% for article in datas %}
		<div class="mb-5">
			{% include '_article.html.twig' with {'article': article} %}
		</div>
	{% endfor %}

	<div class="home-pagination">
		{{ knp_pagination_render(datas) }}
	</div>
{% endblock %}

{#{% if forAdmin == true %}
	<div class="article-admin p-3">
		<button class="btn btn-primary">Modifier</button>
		<button class="btn btn-danger">Supprimer</button>
	</div>
{% endif %}#}
