{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Votre actualité</h1>

    <div>
        <div>
            tri
        </div>
        <div>
            Barre de recherhce
        </div>
    </div>
</div>
{% endblock %}
