{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
{{ parent() }}
<div class="login-container">
	{% include '_form.html.twig' with {'button_label': 'Créer un compte'} %}
</div>


{% endblock %}
