.article-container--admin {
    width: 100%;
}

.card-content {
    display: flex;
    align-items: center;
}

.article-header--admin {
    margin: auto;
}

.article-header--admin span {
    font-weight: bold;
    text-decoration: underline;
}

.article-header--admin-img {
    width: 60%;
}

.article-form {
    margin-top: 2%;
}

.article-group {
    display: flex;
    align-items: center;
    margin: 3% auto;
}

.article-group > div{
    margin: auto 2%;
}

.article-input {
    width: 20px;
    height: 20px;
}